<div class="card-container">
  <mat-card class="create-box">
    WAREHOUSE LIST
  </mat-card>
<div class=" card card-content">
  <mat-form-field>
    <mat-label>Sort By:</mat-label>
    <mat-select [formControl] = "sortingControl">
      <mat-option value="id-by-desc">ID By Desc</mat-option>
      <mat-option value="id-by-asc">ID By Asc</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Search:</mat-label>
    <input matInput type="text" [formControl]="searchControl">
    <button matSuffix mat-icon-button aria-label="Search" (click)="textSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <div>
    <a mat-raised-button color="primary" routerLink="/warehouse/create"><mat-icon>plus_one</mat-icon>New</a>
  </div>
</div>
</div>
<div class="card-container">
<p>Total: {{totalRecords}}</p>
<mat-card class="card" *ngFor="let item of Warehouse">
  <mat-card-content class="card-content">
    <section class="example-section">
      <mat-card-content class="example-margin">{{item.id}}</mat-card-content>
    </section>
    <section class="example-section">
      <mat-card-content class="example-margin">{{item.name}}</mat-card-content>
    </section>
    <section class="example-section">
      <mat-card-content class="example-margin">{{item.quantityItems}} / {{item.slot}}</mat-card-content>
    </section>
    <section class="example-section">
      <mat-card-content class="example-margin">{{item.status}}</mat-card-content>
    </section>
    <section>
      <mat-card-actions class="card-content">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
          <mat-menu class="form-container" #menu="matMenu">
            <div mat-menu-item>

              <a mat-raised-button color="primary" [routerLink]="['/warehouse/detail',item.id]">Detail</a>
            </div>
            <div mat-menu-item>

              <a mat-raised-button color="primary" [routerLink]="['/warehouse/edit',item.id]">Edit</a>
            </div>
            <div mat-menu-item>
              <button mat-flat-button color="warn" (click)="deleteItem(item.id)">Delete</button>
            </div>
          </mat-menu>
      </mat-card-actions>
    </section>
  </mat-card-content>
</mat-card>


<mat-paginator [length]="totalRecords"
[pageSize]="pageSize"
[pageSizeOptions]="[5, 10, 20, 100]"
[pageIndex]="pageIndex"
(page)="handlePageEvent($event)"
aria-label="Select page">
</mat-paginator>
</div>

